* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}



body {
    background: linear-gradient(to left, #6d6c6c, #b4b2b2, #e7e6e5);
}

/* Header */
.header {
    /* background: black; */
    background: rgb(189, 187, 187);


    overflow: auto;
    line-height: 1.7em;
}

.header nav h1 {
    float: left;
    padding: 20px;
    margin-bottom: 0;


}

.header nav h1 a {
    /* color: #0f0f0f; */
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: cursive;
}

.header nav ul {
    float: right;
    list-style: none;
}

.header nav ul li {
    float: left;
}

.header nav ul li a {
    color: black;
    padding: 20px;
    display: block;
    list-style: none;
    text-decoration: none;
    font-family: cursive;

}

.header nav ul li a:hover,
.active {
    /* background: #CB9772; */
    font-weight: bold;
    font-size: 1.2rem;
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-top: 40px;

}

.title {
    font: italic small-caps bold 2rem cursive;
}

.sun {
    margin-right: 40px;
    font-size: 20px;
    color: #0f0f0f;

}


/* galerie */
section {
    margin: 30px 0;
}

.galerie {
    margin: 40px 30px;
    display: flex;
    flex-direction: row;

}

.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}

/* Menu */
.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;

}


.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #0f0f0f;
    border-radius: 50px;
    margin: 0 0.2em 1em;

}

.menu label:hover,
.menu label:focus {
    background: #474747;
}


.slide-input {
    opacity: 0;
}



.slide-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;

    height: 250px;
    width: 300px;
    position: absolute;

    z-index: 100%;
    transition: left 0s 0.75s;
    border-radius: 3%;

}

img {
    box-shadow: 8px 8px 10px 0 rgba(80, 79, 79, 0.5);
}

[id^="slide"]:checked+.slide-img {
    left: auto;
    z-index: 100;
    transition: left 0.65s ease-out;


}

.texte {
    width: 200px;
    height: 400px;


}

/* *************************** */
.conteneur {
    display: grid;
    grid: " element element element  " 1fr " element element element" 1fr " element element element " 1fr "element element  element " 1fr / 1fr 1fr 1fr;
    flex-wrap: wrap;
    /* background-color: red; */
}

.element {
    height: 450px;
    width: 300px;
    margin: 20px auto 20px;
    display: flex;
    flex-wrap: wrap;

}

.images {
    /* background-color: orange; */
    height: 300px;



}

.menu-deroulant {

    /* background-color: yellow; */
    height: 50px;
    width: 300px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.description {
    /* background-color: rgb(0, 153, 255); */
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 300px;
    justify-content: center;
    text-align: left;
}

.description p {
    margin-left: 10px;
    font-size: large;

}

p span {
    font-weight: bold;
}


/* Les téléphones */
@media only screen and (max-width: 767px) {
    body {
        background: linear-gradient(to left, #6d6c6c, #b4b2b2, #e7e6e5) no-repeat center center fixed;
        background-size: cover;
    }

    .header nav ul {
        margin-top: 0;
        text-align: center;
    }

    .header nav ul li a {
        padding: 10px;
        text-align: center;
    }


    .conteneur {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .container {
        text-align: center;
    }

    .element {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 450px;
    }

    .slide-img {
        flex-wrap: wrap;
    }

    .title {
        font-size: 1.3rem;
    }
}



/* Les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .conteneur {
        grid:
            " element element  " 1fr " element element " 1fr " element element  " 1fr "element element  " 1fr / 1fr 1fr;
    }

    .element {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 450px;
    }

    .title {
        font-size: 1.5rem;
    }

    .description {
        height: 50px;
    }


}

/*Les grands écrans*/

@media only screen and (min-width: 1500px) {
    .conteneur {
        grid:
            " element element element element " 1fr
            " element element element element" 1fr
            " element element element element" 1fr
            "element element element element" 1fr / 1fr 1fr 1fr 1fr;
    }

    /* Ajoutez d'autres ajustements pour les grands écrans selon vos besoins */
}



